body{
    font-family: bahnschrift;
    background-color: #0E402D;
    /* cursor: url('/static/icons8-cursor-48.png'), animated ; */
}

body, input, button, a, div{
    cursor: none;
}

.intro{
    /* box-shadow: 0px 0px 15px 5px white; */
    background-color: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: invert(80%);
    backdrop-filter: invert(80%);
    -webkit-backdrop-filter: sepia(90%);
    backdrop-filter: sepia(90%);
}

.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2.5px solid #9FCC2E;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: changebrdrclr 2s infinite;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: white;
    color: white;
    animation: changeclr 2s infinite;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
  .content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #c6c6c6;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 0;
  }

  /* @keyframes changeclr{
    0%{background-color: red;}
    50%{background-color: blue;}
    100%{background-color:yellow;}
  }
  @keyframes changebrdrclr{
    0%{border: 2.5px solid yellow;}
    50%{border: 2.5px solid blue;}
    100%{border:2.5px solid red;}
  } */

::selection{
    background-color: #5A6650;
    color: white;
}

.body{
    text-align: center;
    width: 50%;
    position: relative;
    margin: auto;
}

.header{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navbar{
    width: 100%;
}

.navbar a{
    float: right;
    width: 10%;
    margin: 5px;
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: medium;
    text-align: center;
    border: 2px solid white;
    transition: 0.5s;
    text-decoration: none;
    word-wrap: break-word;
}

.navbar a:hover{
    transition: 0.5s;
    border-bottom:2px solid #9FCC2E;
    color: white;
}



.imgbgimg{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.25;
}

.hrdiv{
    /* width: 100%; */
    color: white;
    display:flex;
    /* flex-direction:row; */
    align-items: center;
}

.hrdiv #hrp1{
    position: relative;
    animation: hrp1 2s infinite ease;
}
.hrdiv #hrp2{
    position: relative;
    animation: hrp2 2s infinite ease;
}
.hrdiv #hrp3{
    position: relative;
    animation: hrp3 2s infinite ease;
}

@keyframes hrp1 {
    0%{transform: rotate(180deg);
    /* left: -5%; */
}
    50%{transform: rotate(360deg);
    /* left: -0.5%; */
}
    100%{transform: rotate(720deg);
    /* left: -5%; */
}
}


@keyframes hrp2 {
    0%{transform: rotate(180deg);
    /* left: -4%; */
}
    50%{transform: rotate(360deg);
    /* left: -1.5%; */
}
    100%{transform: rotate(720deg);
    /* left: -4%; */
}
}


@keyframes hrp3 {
    0%{transform: rotate(180deg);
    /* left: -4.5%; */
}
    50%{transform: rotate(360deg);
    /* left: -2.5%; */
}
    100%{transform: rotate(720deg);
    /* left: -4.5%; */
}
}

#hr1,#hr2,#hr3{
    max-width: 800px;
    margin-left: 0;
}

#hr1,#hr2,#hr3{
    max-width: 800px;
    margin-right: 0;
}


#hr1{
    border:5px solid #9FCC2E;
    width: 50%;
    animation: hr1ani 2s infinite ease;
}
#hr2{
    border:5px solid white;
    width: 10%;
    animation: hr2ani 2.5s infinite ease;
}
#hr3{
    border:5px solid #98BC3D;
    width: 30%;
    animation: hr3ani 1.5s infinite ease;
}

@keyframes hr1ani {
    0%{width: 30%;}
    50%{width: 50%;}
    100%{width: 30%;}
}

@keyframes hr2ani {
    0%{width: 50%;}
    50%{width: 10%;}
    100%{width: 50%;}
}

@keyframes hr3ani {
    0%{width: 10%;}
    50%{width: 50%;}
    100%{width: 10%;}
}

.intro{
    color: white;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    --b: 5px;   /* thickness of the border */
  --c: #9FCC2E;   /* color of the border */
  --w: 20px;  /* width of border */
  

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
  
}

.intro h3{
    display: inline-block;
    visibility: hidden;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #9FCC2E; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation:     typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    animation-delay: 2s;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%; visibility: visible; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent; visibility: visible; }
    50% { border-color: transparent; visibility: visible; }
  }

.introname{
    font-size: 40px; 
    font-weight: bolder;
    text-shadow: 6px 7px 2px #9FCC2E, -5px -6px 1px #98BC3D;
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #9FCC2E; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    
    animation:     typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

a{
    color: white;
    text-decoration:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    width: 20%;
    font-size: 20px;
    transition: 0.5s;
    position: relative;
    top: 20px;
}

.button:hover{
    background-color: white;
    transition: 0.5s ease;
    box-shadow: 0px 0px 15px 5px #9FCC2E;
}

.button:hover > span{
    transition: 0.5s;
    display: inline-block;
    width: auto;
    font-size: 20px;
    color: #5A6650;
    transition: 0.5s ease;
}

.button:hover > i{
    color: #5A6650;
    transition: 0.5s ease;
}

menu{
    position: relative;
    top: 75px;
    display: inline-block;
    width: 100%;
    padding: 0;
}

span{
    font-size: 0px;
    width: 0px;
    vertical-align: middle;
    transition: 1s ease;
}

.about{
    width: 100%;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 100px;
    border-bottom: 5px solid #5A6650;

}

.about p{
    word-wrap: break-word;
}

.aboutimg{
    width: 15%;
    border-radius: 50%;
    border: 2px solid#295135;
}

.aboutspan{
    color: #295135;
}

.contact{
    position: relative;
    top: 100px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 20px;

}


.contactform{
    text-align: center;
    /* border: 2px solid #7D1128; */
    padding: 10px;
}

.contactbody{
    background-image: url('/static/Images Wallpaper.jfif');
    background-repeat: no-repeat;
}

form{
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
}

.contact h2{
    width: 50%;
    margin-left: auto;

}

input{
    width: 75%;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid white;
}

input::placeholder{
    color: white;
}

input[type=submit]{
    background-color: #295135;
    border: none;
    cursor: pointer;
}

input:focus{
    outline: none;
}

.contacticons:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(355deg) brightness(104%) contrast(100%);
    transition: 0.2s ease all;
    cursor: pointer;
}

.contactformbutton svg{
    width: 25px;
}

.contactformbutton{
    width:75%;
    margin: auto;
}

.socialmediabox{
    width: 50%;
    margin-left: auto;
}

.socialmediabox a{
    display: inline-flex;
    text-align: center;
    position: relative;
    top: 0;
    width: auto;
}

.projectscontainer{
    width: 75%;
    color: white;
    margin: auto;
    position: relative;
    display: flex;
    transition: 0.5s ease;
    /* top: 125px; */
}

.projectslist ul{
    width: 100%;
    padding: 0;
    margin: 0;
}

.projectscontainer ul li{
    padding: 10px;
    margin: 15px;
    list-style-type: none;
}

.projectscontainer a{
    padding: 0;
    margin: 0;
    border: 2px solid transparent;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #295135;
}

.projectslist .active{
    background-color: #0E402D;
}

.projectscontainer button:hover{
    background-color: #9FCC2E;
}

.projectcontent{
    background-color: white;
    color: black;
    width: 75%;
    z-index: -1;
    padding: 15px;
    position: relative;
}

.projectslist button:focus{
    background-color: #0E402D;
}

button{
    display: block;
    width: 100%;
    font-size: 15px;
    border: 2px solid transparent;
    background-color: #295135;
    color: white;
    cursor: pointer;
}

#projectcontentbody{
    text-align: center;
    margin: auto;
    transition: 0.5s ease;
}

.mailsentmsg{
    width: 50%;
    float: right;
    text-align: center;
}

.mailsentmsg p{
    color: white;
    margin:auto;
    background-color: #9FCC2E;
    padding: 10px;
}
